/*full page-center*/
.login-page{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:darkslategrey;
    border-radius: 6px ;



}
.login-card{
    width:320px;
    
    padding-bottom:20px ;
    padding-right: 24px;
    padding-left:24px ;
    border-radius: 10px;
    
    
    display: flex;
    flex-direction: column;
    gap:12px
    
    
    

}
.login-card input{
    padding:10px;
    font-size:14px;
    margin:-8px;
    border: 1px solid #35251a;
    border-radius: 6px;
   


}

.login-card input:focus {
    border-color: #2563eb;
}

.login-card h2 {
    
    color: aliceblue;
    
    margin-bottom: 10px;
}

.login-page button{
    margin-top: 20px;
    margin:auto;
}